body{
    background-color: aquamarine;
}
.logo{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: aliceblue;
    
}

.logo i{
    position: absolute;
    margin-top: auto;
    font-size: 100px;
    transform: translate(100%, 45%);
 


}

.logo i:hover{
   color: aqua;
}