.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: pink;
}

.flex-item {
    background-color: palegreen;
    width: 100px;
    height: 100px;
    margin: 10px;
     -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;}

.flex-item:hover {
    width: 200px;
    height: 200px;
}